// Place all the styles related to the player controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body#index {
  width: 1200px;

  padding: 0;

  background: url("/index.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: #1C50FC !important;
      opacity: 0.8;
    }
  }

  #albums {
    position: absolute;

    .album-entry {
      display: inline-block;

      img {
        width: 200px;
        height: 200px;
        margin: 0 50px;
      }

      h2 {
        text-align: center;
        font-size: 20px;
      }
    }
  }

  #album-songlists {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;

    .album-songlist {
      float: left;
      padding: 50px;
      display: none;
      width: 600px;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      margin: 0 auto;
      overflow: scroll;

      .album-header {
        overflow: auto;

        img {
          width: 200px;
          height: 200px;
          float: left;
          margin-right: 50px;
        }

        h2 {
          color: white;
        }

        span {
          color: white;
        }
      }

      .album-songs {
        margin-top: 50px;

        .song {
          img {
            margin: 0 6px;
            padding: 0;
            margin-top: 2px;
            width: 16px;
            height: 16px;
            float: right;
          }
        }
      }
    }

    #player {
      float: left;
      display: inline-block;
      width: 400px;
      height: 100%;
      margin: 0;
      background-color: rgba(0, 0, 0, 0.6);
    }

    .player_alt {
      width: 540px;
    }


    #player, .player_alt {
      padding: 50px 50px 0 0;

      .controls {
        padding: 0;

        img {
          width: 20px;
          height: 20px;
          margin: 10px;
          margin-bottom: 20px;
        }

        span {
          line-height: 20px;
          color: white;
          font-size: 16px;
        }

        .time {
          margin-left: 10px;
          display: inline-block;
        }

        .progress_border{
          width: 100%;
          height: 20px;
          border: 1px solid white;

          .progress {
            width: 0%;
            height: 100%;
            background-color: white;
          }
        }
      }

      #description {
        overflow: scroll;
        color: white;
        padding-right: 30px;
        padding-top: 30px;
      }
    }
  }

  ::-webkit-scrollbar {
      display: none;
  }
}